body {
    margin: 0;
    padding: 0;
}
.Image {
    text-align: center;
    background-color: gray;
}

.Image img {
    display: block;
    margin: 0 auto;
}

.Desc {
    
}

.Desc h1 {
    text-align: center;
}